.rounded {
  height: 250px;
  width: 250px;
}

.social {
  text-align: center; /* Center the social icons */
  margin-bottom: 20px; /* Space below the icons */
}

.social a {
  font-size: 30px;
  color: #212121;
  margin: 0 10px; /* Spacing between icons */
}

.social a:hover {
  color: rgb(15, 59, 232);
}

.project-title {
  font-weight: bold;
}
